*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body{
    background: #f5f5dc;
}

.wrapper{
    display: grid;
    padding-bottom: 20px;
}

.header{
    padding: 20px 0 20px 0;
    display: grid;
    grid-template-columns: repeat(4,minmax(100px, 1fr));
    align-items: center;
    gap: 2rem;
}

.profile{
    width: 60%;
    grid-column: 1/5;
    grid-row: 2/3;
    justify-self: center;
    display: grid;
    grid-template-rows: 0.2fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    gap: 10px;

}

.profile .user-name{
    display: grid;
    justify-items: center;
}

.profile .user-name p{
    opacity: 0.5;
}

.profile .bell-icon{
    height: 2rem;
    cursor: pointer;
}

.profile .profile-pic{
    height: 3rem;
    border-radius: 50%;
    cursor: pointer;
}

.search{
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 1fr 10fr;
    align-items: center;
    justify-items: center;
    gap: 15px;
}

.search #search-icon{
    cursor: pointer;
}

input[type="text"]{
    outline: none;
    border: none;
    background: #EFEFBE;
    border-radius: 10px;
    width: 100%;
    height: 25px;
    text-indent: 1rem;
}

.menu-bar{
    padding: 10px;
    grid-column: 4/5;
    grid-row: 1/2;
    display: grid;
    justify-self:end;
    margin-right: 2rem;
}

.menu-bar button{
    outline: none;
    border: none;
    background: none;
    transition:all 0.3s ease-out;
}

.menu-bar button:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.nav-buttons{
    grid-column: 1/5;
    grid-row: 3/4;
    width: 60%;
    justify-self: center;
    display: flex;
    justify-content: space-around;
}

.nav-buttons > button{
    border-width: 0;
    border-style: none;
    box-shadow: none;
    font: inherit;
    padding: 5px 20px 5px 20px;
    color: white;
    background: black;
    border-radius: 20px;
    transition: 0.3s ease;
    cursor: pointer;
}

.nav-buttons > button:hover{
    background: #2F3337;
}

.wrapper .sidebar{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    background: #0B3C49;
    transition: all 0.2s ease;
    z-index: 2;
}

.sidebar .sidebar-content{
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: repeat(6,1fr);
    justify-self: center;
}

.sidebar-content img{
    height: 3rem;
    border-radius: 30px;
}

.sidebar-content .sidebar-top{
    grid-row: 1/3;
    display: grid;
    gap: 10px;
    justify-items: center;
    > em {
        color: white;
        opacity: 0.5;
    }
    > p{
        color: white;
    }
}

.links{
    grid-row: 3/5;
    display: grid;
    justify-items: center;
    align-items: center;
    width: 80%;
    > li > button{
        color: white;
    }
}

.settings{
    grid-row: 5/7;
    display: grid;
    align-items: center;
    justify-items: center;
    width: 95%;
    > li > button{
        color: white;
    }
}


.sidebar-content ul li button{
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    align-items: center;
    justify-items: center;
    padding: 10px;
    background: none;
    border: none;
    border-radius: 10px;
    width: 8rem;
}

.sidebar-content ul li button:hover{
    transition: all 0.2s ease;
    background-color: #13657C;    
}

.hide-btn{
    border-radius: 10px;
    padding: 10px;
    grid-column: 1/2;
    justify-self: center;
    align-self: center;
    width: 8rem;
    outline: none;
    border: none;
    background: none;
    color: white;
}

.hide-btn:hover{
    transition: all 0.2s ease;
    background-color: #13657C;
}

/* MAIN CONTENT OF THE PAGE */

.main-content{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(600px, 1fr));
    padding: 10px;
    gap: 20px;
    justify-content: center;
}

.projects{
    display: grid;
    grid-template-rows: 0.1fr 2.5fr;
    grid-row: 1/3;
    /* background: white; */
    padding: 10px;
    gap: 10px;
}

.projects .cards{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 2rem;
    padding: 20px;
}

.projects .cards .project-card{
    padding: 10px;
    border-radius: 10px;
    border-left: inset 10px bisque;
    display: grid;
    gap: 5px;
    background-color: #514F54;
    box-shadow: 5px 5px 15px rgb(0,0,0,0.3);
    color: white;
}

.announcements-container{
    display: grid;
    gap: 10px;
} 


.announcement{
    padding: 5px;
    box-shadow: 0 0 0 2px rgb(0,0,0,0.1);
    margin: 0 2rem 0 2rem;
    display: grid;
    height: 10rem;
    min-width: 15rem;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 0.1fr;
}

.announcement .top-txt{
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: center;
    opacity: 0.5;
}

.announcement .mid-txt{
    grid-column: 1/2;
    grid-row: 2/3;
    align-self: center;
}

.announcement .end-txt{
    grid-column: 1/2;
    grid-row: 3/4;
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    height: 1.5rem;
    width: 10rem;
    align-items: center;
    justify-items: start;
    align-self: center;
}

.announcement .end-txt .icon{
    padding: 4px 10px 4px 10px;
    border-radius: 80px;
    display: grid;
    height: 1rem;
    align-items: center;
}

.announcement .end-txt p{
    font-size: 1rem;
}

.announcement .time{
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: center;
    justify-self: center;
    opacity: 0.5;
}

.learnings{
    display: grid;
    gap: 10px;
}

.learnings .learnings-header{
    display: grid;
    grid-template-columns: 1fr 0.1fr;
    gap: 10px;
}

.learnings-header .heading{
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: center;
}

.learnings-header .txt{
    grid-column: 1/2;
    grid-row: 2/3;
    opacity: 0.5;
}

.learnings-header .icon{
    justify-self: center;
}

.learnings .learnings-progress{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
}

.learnings-card{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.learnings-card .icon{
    grid-column: 1/2;
    grid-row: 1/3;
    align-self: center;
    justify-self: center;
    height: 3rem;
}

.learnings-card .heading{
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: center;
    justify-self: center;
}

.learnings-card .progress{
    grid-column: 2/3;
    grid-row: 2/3;
    align-self: center;
    justify-self: center;
    font-size: small;
    opacity: 0.5;
}

@media only screen and (min-width: 1861px){
    .announcements-container{
        grid-column: 3/4;
        grid-row: 1/2;
    }
    .learnings{
        grid-column: 3/4;
        grid-row: 2/3;
    }
    .projects{
        grid-column: 1/3;
        grid-row: 1/3;
    }
}